.maindiv {

    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("images/metro.jpg");
    background-size: cover;
    background-position: center;
}

#h1 {
    
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.719);
    margin-top: 60px;

}


#h2 {

    color: rgb(255, 255, 255);
    font-size: 50px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
    margin-top: 0px;
}


#increment {

    margin-top: 10px;
    margin-bottom: 10px;
    margin-bottom: 10px;
    background-color: rgba(255, 0, 0, 0.918);
    color: white;
    padding: 5px;
   
}


#save {

    margin-top: 0px;
    margin-bottom: 10px;
    background-color: green;
    color: white;
    padding: 5px;

}

#h3 {


    
 color: rgb(255, 255, 255);
    font-size: 20px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
    margin-top: 0px;
    margin-bottom: 50px;

}